asgiref==3.11.1
Django==6.0.2
django-cors-headers==4.9.0
django-extensions==4.1
djangorestframework==3.17.0
djangorestframework_simplejwt==5.5.1
dotenv==0.9.9
pillow==12.1.1
PyJWT==1.7.1
python-dotenv==1.2.1
sqlparse==0.5.5
